@model ShivaayPluginKeyModel

@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = "Shivaay Soft Plugin Activation";
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName(ShivaayCoreDefault.MenuPluginActivationSystemName);
}
<form asp-controller="PluginActivation" asp-action="ActivePlugin" method="post" id="category-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            Shivaay Soft Plugin Activation
        </h1>
        <div class="float-right">
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default">
                        <div class="card-body">
                            <div class="form-group row">
                                <p>Must have to enter valid key on the box and hit the save button, the Key is received in your registered email.</p>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-1">
                                    <nop-label asp-for="Key" />
                                </div>
                                <div class="col-md-11">
                                    <div class="input-group">
                                        <nop-editor asp-for="Key" />
                                        <div class="input-group-append">
                                            <button type="submit" name="sendtestemail" class="btn btn-info">
                                                @T("Admin.Common.Save")
                                            </button>
                                        </div>
                                    </div>
                                    <span asp-validation-for="Key"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @foreach (var item in Model.ShivaayPluginLicenses)
                {
                    <div class="cards-group">
                        <div class="card card-default">
                            <div class="card-body">
                                <div class="form-group row">
                                    @item.Key
                                </div>
                                <div class="form-group row">
                                    <p>The License is Valid for these Plugin</p>
                                    <ul>
                                        @foreach (var systemName in item.PluginSystemName)
                                        {
                                            <li>@systemName</li>
                                        }
                                    </ul>
                                </div>
                                <div class="form-group row">
                                    <p>The License is valid for these Domain only</p>
                                    <ul>
                                        @foreach (var domain in item.ValiedForDomain)
                                        {
                                            <li>@domain</li>
                                        }
                                    </ul>
                                </div>
                                <div class="form-group row">
                                    <button type="button" name="save-continue" class="btn btn-danger" onclick="DeleteLicenseKye('@(item.Key)')">
                                        <i class="far fa-trash-alt"></i>
                                        @T("Admin.Common.Delete")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</form>
<script type="text/javascript">
    function DeleteLicenseKye(key) {
        var postData = {key: key };
        addAntiForgeryToken(postData)
        $.ajax({
            url: '@Url.Action("DeActivePlugin", "PluginActivation")',
            cache: false,
            data: postData,
            type: "POST",
            success: function (data) {
                if (data.Success) {
                    location.reload();
                }
            }
        });
    }
</script>
